[submodule "primitives"]
	path = primitives
	url = https://github.com/dot-org-ai/primitives.org.ai
[submodule "packages/buildercss"]
	path = packages/buildercss
	url = https://github.com/dot-do/buildercss
