[submodule "primitives"]
	path = primitives
	url = https://github.com/dot-org-ai/primitives.org.ai
[submodule "packages/@mdxui/editor/app"]
	path = packages/@mdxui/editor/app
	url = https://github.com/dot-do/editor
[submodule "examples/agi.as"]
	path = examples/agi.as
	url = https://github.com/dot-do/agi.as
[submodule "examples/schema.org.ai"]
	path = examples/schema.org.ai
	url = https://github.com/dot-org-ai/schema.org.ai.git
